<!DOCTYPE html>
    <html lang="en">
  <head>

         <title>foodbank page</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
      
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
           <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap" rel="stylesheet">
      
       <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
      
      <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
      
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap" rel="stylesheet">
      
    <link rel="stylesheet" href="foodbank.css" >
      
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
        
<body>  
    
          
        
      
       <nav class="navbar navbar-expand-sm">
             
                 
            <a class="navbar-brand" href="index.html">
            <img src="images/koha%20klub%20logo%20with%20writing.png" alt="Logo" class="logo">
            </a>
            <br>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon">...</span>
            </button>
             
             <div class="collapse navbar-collapse" id="collapsibleNavbar" >
            
                 
                 <ul class="navbar-nav ml-auto">
                     <div class="d-flex align-items-center">
                    <li class="nav-item">
                        <a class="howItWorks_link" href="peopleinneed.html"> People in need </a>
                     </li>
                     
                         <li class="nav-item">
                         <a class="howItWorks_link"> | </a>
                         </li>
                         
                         
                           <li class="nav-item">
                        <a class="howItWorks_link" href="volunteers.html"> Volunteers</a>
                     </li>
                     
                    <li class="nav-item">
                         <a class="howItWorks_link"> | </a>
                         </li>
                         
                            <li class="nav-item">
                        <a class="howItWorks_link" href="fooddonations.html">Donations</a>
                     </li>
                         
                           <li class="nav-item">
                         <a class="howItWorks_link"> | </a>
                         </li>
                         
                     <li class="nav-item">
                        <a href="index.html" class="howItWorks_link"><img src="images/home_icon.png" width="5%;"  class="home_icon" ></a>
                     </li>
                     </div>
                 </ul>
                     </div>
                    
                 </nav>
    <br><br> <br>  
   
<h1><img class="blackimgs" src="images/volunteer.png">Volunteers <img class="blackimgs" src="images/volunteer.png" >   </h1>  
    
    <hr class="line"> <br> <br>
    
     <div id="volunteersPage">
    
        <div class="container">
            
            <div id="volunteersCard">
                
                
                <div class="row">
                    <!-- AIRTABLE GOES HERE -->
                    <div v-for="item in items" class="card mb-5 mr-5 mx-auto " >
       
                        <div class="card-body">
                            
                            <h5 class="card-title">{{ item['fields']['Full Name'] }}</h5>
                            <!--Grabbing the titles of the movies and outputting them as h5-->
                            
                            <p class="card-text">phone number: {{ item['fields']['Phone Number'] }}</p>
                            
                            <!-- Link trigger modal -->

                            <button class="moreinfo-btn grow"><a data-toggle="modal" data-target="#moreinfotModalForm" v-on:click="updateSelectedItem(item)">more information</a></button>
                            
                            <br>

                        </div>
                    </div>
                </div>
               
                 <div class="modal-body">
                            
                     <!-- Modal -->
                     <div v-for="item in items" v-if="item==selectedItem" class="modal fade" id="moreinfotModalForm" tabindex="-1" role="dialog" aria-labelledby="volunteersModalLabel" aria-hidden="true">
                         <div class="modal-dialog" role="document">
                             <div class="modal-content volunteers-form">
                                 <div class="modal-header">
                                     <h6 class="volunteers-form-heading"> <strong>{{ item['fields']['Full Name'] }} </strong></h6>
                                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                         <span aria-hidden="true">&times;</span>
                                     </button>
                                 </div>
                                 <div class="modal-body">
                                    
                                    <p><strong>email:</strong> {{ item['fields']['Email'] }}</p>
                                    <p><strong>age:</strong> {{ item['fields']['Age'] }}</p>
                                     <p><strong>any other information:</strong> {{ item['fields']['Any other information?'] }}</p>
                                 </div>
                                 
                             </div>
                         </div>
                     </div>
                 </div>


                        </div>
                    </div>
                </div>
         
        
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
       
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        
    <script src="volunteers_vue.js"></script>
  
    
    
        </body>
        
</html>

